.map-container {
  position: relative;
  height: 90vh;
  width: 100%;
}

.card-style {
  display: 'block';
  width: '30vw';
  height: '45vw';
  background-color: aqua;
}

.ListItem {
  margin-bottom: 5px;
  padding-bottom: 50px;
}

.ListParent {
  height: 90vh;
}