
body {
  margin: 0px;
}

.map-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.card-style {
  display: 'block';
  width: '30vw';
  height: '45vw';
}

.ListItem {
  margin-bottom: 5px;
}

.ListParent {
  height: 82vh;
}

.SearchFormGrid {
  height: 16vh;
}