.map-container {
  position: relative;
  height: 90vh;
  width: 100%;
}

.card-style {
  display: 'block';
  width: '30vw';
  height: '45vw';
}

.ListItem {
  margin-bottom: 5px;
}

.ListParent {
  height: 90vh;
}

.fav-button {
  justify-content: left;
}